\:root 

    /*=============================================*/
    /*=         Default Color Variables           =*/
    /*=============================================*/

    --color-p: #002451
    --color-u: #c8c8c8
    --color-a: #E7E7E7
    --color-b: #FFFFFF
    --color-b-alt: #171D26
    --color-t-h: #1D3255
    --color-t-h-alt: #898E97
    --color-t-b: #374660
    --color-t-b-alt: #FFFFFF
